.review-container {
    position: relative;
    width: 50%;
    height: 60px;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.wrapper {
    width: 100%;
    height: 60px;
    border-radius: 10px;
    border: 1px solid var(--border-sidebar-color);
    overflow: hidden;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    &:hover {
        background: var(--primary-hover);
    }
}
.img-box {
    height: 100%;
    width: 70px;
    margin-right: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.body {
    display: block;
    width: 78%;
    padding-right: 10px;
    position: relative;
    .title {
        margin-top: 5px;
    }
    .title,
    .url {
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .url {
        font-size: 1.3rem;
        margin-top: 6px;
    }
}

.exits {
    position: absolute;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3.4rem;
    cursor: pointer;
    z-index: 999;
}
