.wrapper {
    width: 100%;
    height: 60px;
    border-radius: 10px;
    border: 1px solid var(--border-sidebar-color);
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}
.img-box {
    height: 100%;
    width: 70px;
    margin-right: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.body {
    flex: 1;
    padding-right: 10px;
    position: relative;
    .exits {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 3rem;
        cursor: pointer;
    }
    .url {
        font-size: 1.3rem;
        margin-top: 6px;
    }
}
