@import 'normalize.css';
@import 'grid';

:root {
    --primary: #045de9ae;
    --primary-hover: #e6edf8ae;
    --primary-hover-bold: #9ec4f7ae;
    --primary-active: #d8e6fcae;
    --border: #aeb6beae;
    --black: #000;
    --white: #fff;
    --error-color: red;
    --text-color: #3c4043;
    --subtext-color: #686c70;
    --placeholder-color: #666;
    --overlay-color: rgb(0 0 0 / 50%);
    --tick-color: #20d5ec;
    --cirle-hover-color: #f3efef;
    --text-sidebar-color: #161823bf;
    --text-footer-color: #16182380;
    --border-sidebar-color: rgba(22, 24, 35, 0.12);

    --font-family: 'Roboto', sans-serif;

    --container-width: 1150px;
    // Default layout
    --default-layout-header-height: 64px;
    --default-layout-width: 1150px;
    --default-layout-sidebar-width: 356px;
    --default-layout-horizontal-spacer: 24px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    height: 100vh;
    font-size: 1.4rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
}

// Scrollbar css
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

button,
input,
[tabindex] {
    border: none;
    outline: none;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
}

// Font embeded
@font-face {
    font-family: Roboto;
    src: url('/assets/fonts/Roboto/Roboto-Thin.ttf');
    font-weight: 100;
}
@font-face {
    font-family: Roboto;
    src: url('/assets/fonts/Roboto/Roboto-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: Roboto;
    src: url('/assets/fonts/Roboto/Roboto-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: Roboto;
    src: url('/assets/fonts/Roboto/Roboto-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: Roboto;
    src: url('/assets/fonts/Roboto/Roboto-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: SofiaPro;
    src: url('/assets/fonts/sofiapro-bold.woff2');
    font-weight: 700;
}
@font-face {
    font-family: SofiaPro;
    src: url('/assets/fonts/sofiapro-regular.woff');
    font-weight: 600;
}

// Custom tippy tooltip
body {
    .tippy-box {
        border-radius: 8px;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2.2rem;
        background-color: rgba(84, 84, 84, 0.92);
    }

    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
        top: -8px;
    }

    .tippy-content {
        padding: 8px;
    }
}

// Common classes
.container {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    max-width: var(--container-width);
    margin: auto;
}

// Custom tippy tooltip
body {
    .tippy-box {
        border-radius: 8px;
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 2.2rem;
        background-color: rgba(102, 101, 101, 0.92);
    }

    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
        top: -8px;
    }

    .tippy-content {
        padding: 4px 8px;
    }
}

// Custom modal reacr-modal
@keyframes anvil {
    0% {
        transform: scale(1) translateY(0px);
        opacity: 0;
        box-shadow: 0 0 0 rgba(241, 241, 241, 0);
    }
    1% {
        transform: scale(0.96) translateY(10px);
        opacity: 0;
        box-shadow: 0 0 0 rgba(241, 241, 241, 0);
    }
    100% {
        transform: scale(1) translateY(0px);
        opacity: 1;
        box-shadow: 0 0 500px rgba(241, 241, 241, 0);
    }
}

@keyframes anvil-out {
    100% {
        transform: scale(1) translateY(0px);
        opacity: 0;
        box-shadow: 0 0 0 rgba(241, 241, 241, 0);
    }
    99% {
        transform: scale(0.96) translateY(10px);
        opacity: 0;
        box-shadow: 0 0 0 rgba(241, 241, 241, 0);
    }
    0% {
        transform: scale(1) translateY(0px);
        opacity: 1;
        box-shadow: 0 0 500px rgba(241, 241, 241, 0);
    }
}
@keyframes overlay-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.popup-content {
    width: auto;
    height: auto;
    border-radius: 10px;
    padding: 20px;
    // animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}
.popup-overlay {
    transition: all 0.3s ease;
    animation: overlay-animation 0.3s forwards;
    background: var(--overlay-color);
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.11);
    z-index: 1;
    display: none;
    &.show {
        display: block;
    }
}

.ql-editor {
    height: 140px;
    overflow-y: auto;
}

.show-more-cmt {
    position: relative;
    height: 65px;
    overflow: hidden;
}

.no-comment {
    height: 10px;
}

.hidden {
    display: none !important;
}

.w-full {
    width: 100% !important;
}

.opacity-6 {
    opacity: 0.6 !important;
}

.correct {
    color: green !important;
    background-color: rgba(79, 207, 96, 0.11) !important;
}

.wrong {
    color: red !important;
    background-color: rgba(240, 130, 67, 0.11) !important;
}

// .button-submit-grade {
//     width: 50px;
//     min-width: unset;
// }
