@import 'normalize.css';

:root {
    --primary: #045de9ae;
    --black: #000;
    --white: #fff;
    --text-color: #35414c;
    --placeholder-color: #666;
    --tick-color: #20d5ec;
    --text-sidebar-color: #161823bf;
    --text-footer-color: #16182380;
    --border-sidebar-color: rgba(22, 24, 35, 0.12);

    --font-family: 'Roboto', sans-serif;

    --container-width: 1150px;
    // Default layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --default-layout-sidebar-width: 356px;
    --default-layout-horizontal-spacer: 24px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    height: 100vh;
    font-size: 1.4rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
}

// Scrollbar css
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

button,
input,
[tabindex] {
    border: none;
    outline: none;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
}

// Font embeded
@font-face {
    font-family: Roboto;
    src: url('/assets/fonts/Roboto/Roboto-Thin.ttf');
    font-weight: 100;
}
@font-face {
    font-family: Roboto;
    src: url('/assets/fonts/Roboto/Roboto-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: Roboto;
    src: url('/assets/fonts/Roboto/Roboto-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: Roboto;
    src: url('/assets/fonts/Roboto/Roboto-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: Roboto;
    src: url('/assets/fonts/Roboto/Roboto-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: SofiaPro;
    src: url('/assets/fonts/sofiapro-bold.woff2');
    font-weight: 700;
}
@font-face {
    font-family: SofiaPro;
    src: url('/assets/fonts/sofiapro-regular.woff');
    font-weight: 600;
}

// Custom tippy tooltip
body {
    .tippy-box {
        border-radius: 8px;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2.2rem;
        background-color: rgba(84, 84, 84, 0.92);
    }

    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
        top: -8px;
    }

    .tippy-content {
        padding: 8px;
    }
}

// Common classes
.container {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    max-width: var(--container-width);
    margin: auto;
}

// Custom slider css in login layout
// .slick-slider {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
// }
