.actions {
    margin-top: 5px;
}

.action-item {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.label {
    color: var(--primary);
    display: inline-block;
    width: 44px;
    height: 44px;
    padding: 8px;
    cursor: pointer;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--cirle-hover-color);
    &:hover {
        background-color: var(--cirle-hover-color);
    }
}
