.wrapper {
    display: block;
    margin: 0 auto;
    width: 70%;
}
.form-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    .block-account {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        &__imgBox {
            position: relative;
            display: inline-block;
            width: 120px;
            height: 120px;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 30px;
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            label {
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                padding: 6px;
                background-color: rgba(0, 0, 0, 0.4);
                line-height: 120px;
                text-align: center;
                font-size: 1.4rem;
                color: white;
                display: none;
            }
            &:hover label {
                display: inline-block;
            }
        }
        &__body {
            font-size: 1.2rem;
            color: var(--text-color);
            user-select: none;
            .name {
                font-size: 2.4rem;
                font-weight: bold;
                color: black;
                margin-bottom: 8px;
            }
            p {
                margin-bottom: 3px;
            }
        }
    }
    label {
        display: inline-block;
        width: 120px;
        font-size: 1.4rem;
        &.radio-label {
            width: 60px;
        }
    }
    input {
        flex: 1;
        font-size: 1.4rem;
        padding: 8px 10px;
        &.radio-input {
            flex: unset;
            width: 18px;
            height: 18px;
            accent-color: var(--overlay-color);
            cursor: pointer;
            margin-right: 5px;
        }
    }
    #account-submit-btn {
        margin: auto;
    }
    &.birthday input {
        width: 200px;
        flex: unset;
    }
    .form-message {
        position: absolute;
        top: 100%;
        left: 120px;
        color: var(--error-color);
        font-size: 1.2rem;
    }
    &.invalid input {
        border: 1px solid var(--error-color);
    }
}

.form-section-title {
    font-size: 2.4rem;
    color: var(--overlay-color);
    margin-bottom: 30px;
}

.image-block {
    justify-content: center;
    margin-top: 40px;
}

.input-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .input {
        width: 70%;
    }
}

.action-section {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.update-btn {
    color: white;
}

// Modal success
.modal {
    display: block;
    width: 30vw;
    min-width: 350px;
    position: relative;
    padding: 0px 20px;
}

.title {
    font-size: 2.4rem;
    margin-bottom: 4px;
}

.exits {
    position: absolute;
    top: -20px;
    right: 0px;
    font-size: 3.8rem;
    cursor: pointer;
}

.form {
    margin-top: 20px;
    &-actions {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        margin-top: 20px;
        .cancel {
            padding: 7.5px 16px;
            margin-right: 20px;
        }
    }
}
