// Container
.container {
    margin-top: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .annouce-board {
        width: 240px;
    }
    .timeline {
        flex: 1;
    }
    .title {
        font-size: 3.2rem;
        margin-bottom: 20px;
    }
    .download-btn {
        font-size: 1.6rem;
        margin-bottom: 20px;
        margin-right: auto;
    }
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table td,
table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:not(:first-child):hover {
    background-color: #ddd;
}

table th {
    width: 120px;
    max-height: 100px;
    height: 100px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: black;
    &:first-child {
        width: 200px;
    }
    &:not(:first-child):hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

table td {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: black;
    font-size: 1.6rem;
    &:first-child {
        width: 200px;
        &:hover {
            cursor: pointer;
        }
    }
    &:hover {
        background-color: var(--primary-hover);
    }
}

thead,
tbody {
    display: block;
}

tbody {
    width: 100%;
    overflow-y: auto; /* Trigger vertical scroll    */
    overflow-x: auto; /* Hide the horizontal scroll */
}

.header-name {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 20px;
}

.header-column {
    position: relative;
}

.header-deadline {
    position: absolute;
    bottom: 5px;
    color: var(--subtext-color);
}
