// Container
.container {
    margin-top: 20px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    .annouce-board {
        width: 240px;
    }
    .timeline {
        flex: 1;
    }
}

.actions-section {
    .post-exercise-btn {
        margin-top: 25px;
        margin-left: 260px;
        padding: 10px 15px;
    }
}

.title-topic {
    margin-left: 260px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2.2rem;
}
