.wrapper {
    margin-bottom: 30px;
    padding: 10px 20px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    border-radius: 10px;
    background-color: var(--white);
    position: relative;

    .status {
        text-align: right;
    }

    .body {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .chosefile-btn {
            margin-bottom: 20px;
        }
    }
}

.submit-files {
    margin-top: 20px;
    width: 100%;
    & + div {
        width: 100% !important;
    }
}

.status-completed {
    font-size: 1.6rem;
    padding: 4px 8px;
    border-radius: 4px;
}
